.listSalesItem{
  margin: 3% auto;
  width: 60%;
  background-color: white;
  border-radius: 5px;
}

.detailSale{
  display: flex;
  font-size: 14px;
  padding-bottom: 40px;
}

.infoSale{
  max-width: 514px;
  padding-right: 0;
  width: 60%;
  padding: 15px;
}

.infoSale p{
  margin: 3px;
}

.listSalesItem img{
  margin-left: 20px;
  margin-right: 20px;
  width: 90px;
  height: 90px;
  min-width: 80px;
  padding: 20px;
  border-radius: 5px;
}

.listSalesItem #btnCancelSale{
  float: rigth;
  color: blue;
  cursor: pointer;
  margin-top: 10%;
  margin-right: 1.5%;
  padding: 0;
}