.carousel{
  overflow-x: hidden;
  margin-left: 5%;
  font-family: Sans-serif;
  margin-bottom: 10%;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 10px;
  background-color: rgb(59, 57, 57);
}